.click {
    background-color: black;
    color: white
}

.dont-click {
    background-color: yellow;
}

.click, .dont-click {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}